<%- include('header') %> 
<h2 class="text-center">Add Details For New Book</h2>
<%- include('sidebar')  %> 
<div class="col-lg-8">
    <form action="/add-book" method="POST">
    Book Name :<input class="d-block" type="text" name="book_name" autocomplete="off">
    <br>
    Author Name:<input  class="d-block" type="text" name="book_author" autocomplete="off"><br>
    <input type="submit">
    
    
    </form>
</div>


</div>
</div>






<%- include('footer') %>
