<div class="container">
    <div class="row text-start">
        <div class="col-4 col-sm-4 col-md-4 col-lg-2 bg-info text-danger text-start py-5">
            <ul>
                <a href="/" class="d-block my-2 fs-4"> Home</a>
                <a href="/all-books" class="d-block fs-4">All Books</a>
                <a href="/add-book" class="d-block my-2 fs-4">Add New Book</a>
                <a href="/delete-book" class="d-block my-2 fs-4">Delete Book</a>
            </ul>
        </div>